.main_box
  .main_box_head
    .group_detail
      %p.main_group_name test
      %p.member Member：masa
    
    .btn_edit
      = link_to "#", class: "ico" do
        %span Edit

  .comment_box
    .comment_box_inner
      .comment_box_detail
        %p.name masa
        %span.date 2020/05/02(Sat) 10:37:11
        .comment_text
          %p.text コメント入ります。コメント入ります。コメント入ります。

    .comment_box_inner
      .comment_box_detail
        %p.name kazoe
        %span.date 2020/05/02(Sat) 10:37:11
        .comment_text
          %p.text コメント入ります。コメント入ります。コメント入ります。

    .comment_box_inner
      .comment_box_detail
        %p.name tanaka
        %span.date 2020/05/02(Sat) 10:37:11
        .comment_text
          %p.text コメント入ります。コメント入ります。コメント入ります。

    .comment_box_inner
      .comment_box_detail
        %p.name koide
        %span.date 2020/05/02(Sat) 10:37:11
        .comment_text
          %p.text コメント入ります。コメント入ります。コメント入ります。


  .messege_box
   %form
      .input_box
        %input{type: "text", placeholder: "type a message"}
        %label{class: "input_box_image"}
          = icon('far', 'image')
          %input{type: "file"}

        .btn_send.c_white Send