.side_bar.c_white.bold
  .side_bar_head.cf
    .inner
      %p.user_name masa
      %ul
        %li
          = link_to "#", class: "ico" do
            = icon('fas','edit')
        %li
          = link_to "#", class: "ico" do
            = icon('fas','cog')
  .side_bar_group
    %p.group_name_list techcamp
    %p.info まだメッセージがありません